<div class="container">
  <div class="sticky-outline">
    <div class="outline">
      <a href="#home" class="tag">Home</a>
      <a href="#experience" class="tag">Experience</a>
      <a href="#skills" class="tag">Skills</a>
      <a href="#home" class="name-tag">ALI</a>
      <a href="#services" class="tag">Services</a>
      <a href="#projects" class="tag">Projects</a>
      <a href="#contact" class="tag">Contact</a>
    </div>
    <div class="color-changers">
      <button
        class="theme-btn green-btn"
        (click)="changeTheme('green')"
      ></button>
      <button class="theme-btn blue-btn" (click)="changeTheme('blue')"></button>
      <button
        class="theme-btn purple-btn"
        (click)="changeTheme('purple')"
      ></button>
    </div>
  </div>
  <div
    id="home"
    class="home"
    appIntersectionObserver="home"
    [@sectionAnimate]="sectionStates['home']"
  >
    <app-title-style [link]="link" [title]="'Hello,I\'m Ali'"></app-title-style>
    <div class="about-me">
      I'm a <span class="primary-txt">Full-Stack Developer</span><br />
      specialized in web development.
    </div>
    <a style="display: flex; gap: 10px"
      ><a
        href="https://github.com/3liyusuf/my-cv/raw/main/Ali%20Yusuf%20-%20Software%20Engineer.pdf"
        class="get-cv neon-transition"
        ><i class="fas fa-arrow-alt-circle-down"></i><span>Download CV</span></a
      >
      <a
        href="https://github.com/3liyusuf/my-cv/blob/main/Ali%20Yusuf%20-%20Software%20Engineer.pdf"
        class="get-cv neon-transition"
        ><i class="fas fa-eye"></i><span>Preview CV</span></a
      ></a
    >
    <div class="icons">
      <a
        href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
        target="_blank"
        class="icon fab fa-linkedin"
      ></a>
      <a
        href="https://github.com/3liYusuf"
        target="_blank"
        class="icon fab fa-github-square"
      ></a>
    </div>
    <br /><br /><br />
  </div>
  <div
    id="experience"
    class="experience"
    appIntersectionObserver="experience"
    [@sectionAnimate]="sectionStates['experience']"
  >
    <div class="center">
      <app-title-style [link]="link" [title]="'MY RESUME'"></app-title-style>
    </div>
    <div class="title center">Experience</div>
    <ul>
      <div
        class="experience-tag-container"
        *ngFor="let experience of experiences"
      >
        <li class="experience-tag-title">
          {{ experience.title }}
        </li>
        <div class="experience-details">
          <p>
            {{ experience.from }} -
            <span *ngIf="experience.to">{{ experience.to }}</span
            ><span *ngIf="!experience.to">Present</span>
          </p>
          <p *ngIf="experience.at">{{ experience.at }}</p>
          <p *ngIf="experience.description">{{ experience.description }}</p>
        </div>
      </div>
    </ul>
  </div>
  <div
    id="skills"
    class="skills"
    appIntersectionObserver="skills"
    [@sectionAnimate]="sectionStates['skills']"
  >
    <div class="center">
      <app-title-style [link]="link" [title]="'MY SKILLS'"></app-title-style>
    </div>
    <div class="title center">My Advantages</div>
    <div class="adv-box-container">
      <app-adv-box
        [percent]="90"
        [title]="'Angular'"
        [icon]="'fab fa-angular'"
      ></app-adv-box>
      <app-adv-box
        [percent]="80"
        [title]="'Node.js'"
        [icon]="'fab fa-node-js'"
      ></app-adv-box
      ><app-adv-box
        [percent]="90"
        [title]="'Database'"
        [icon]="'fas fa-database'"
      ></app-adv-box>
      <app-adv-box
        [percent]="80"
        [title]="'Servers'"
        [icon]="'fas fa-server'"
      ></app-adv-box>
      <app-adv-box
        [percent]="100"
        [title]="'HTML'"
        [icon]="'fab fa-html5'"
      ></app-adv-box>
      <app-adv-box
        [percent]="95"
        [title]="'CSS'"
        [icon]="'fab fa-css3-alt'"
      ></app-adv-box>
    </div>
  </div>
  <div
    id="services"
    class="services center"
    appIntersectionObserver="services"
    [@sectionAnimate]="sectionStates['services']"
  >
    <app-title-style [link]="link" [title]="'MY SERVICES'"></app-title-style>
    <div class="title center">What Can I Do?</div>
    <div class="services-boxes-container">
      <app-services-boxes
        [icon]="'fas fa-code'"
        [title]="'Front-End Development'"
        [description]="
          'I design and develop user-friendly interfaces using HTML, CSS, JavaScript, and Angular to create engaging web experiences.'
        "
      ></app-services-boxes>
      <app-services-boxes
        [icon]="'fas fa-database'"
        [title]="'Back-End Development'"
        [description]="
          'I build secure and efficient server-side applications using Node.js, managing databases and APIs to power dynamic websites.'
        "
      ></app-services-boxes>
      <app-services-boxes
        [icon]="'fas fa-server'"
        [title]="'DevOps Engineer'"
        [description]="
          'I optimize development and deployment processes, managing servers, domains, and integrating GitHub for streamlined workflows.'
        "
      ></app-services-boxes>
    </div>
  </div>
  <div
    id="projects"
    class="projects center"
    appIntersectionObserver="projects"
    [@sectionAnimate]="sectionStates['projects']"
  >
    <app-title-style [link]="link" [title]="'MY PROJECTS'"></app-title-style>
    <div class="title center">What I've done?</div>
    <div class="projects-container">
      <a
        href="{{ project.url }}"
        [ngClass]="i % 2 == 0 ? 'project-even-outline' : 'project-odd-outline'"
        *ngFor="let project of projects; let i = index"
      >
        <img
          [src]="project.image"
          [ngClass]="i % 2 == 0 ? 'project-even-img' : 'project-odd-img'"
        />
        <div [ngClass]="i % 2 == 0 ? 'proj-even-data' : 'proj-odd-data'">
          <p class="proj-name">{{ project.name }}</p>
          <p class="proj-year">{{ project.year }}</p>
        </div>
      </a>
    </div>
  </div>
  <div
    id="contact"
    class="contact"
    appIntersectionObserver="contact"
    [@sectionAnimate]="sectionStates['contact']"
  >
    <div class="contact-first-container">
      <app-title-style [link]="link" [title]="'CONTACT US'"></app-title-style>
      <div class="title">Let's Get In Touch!</div>
      <div class="contact-description">
        I would love to hear from you! Whether you have a question, a project
        idea, or just want to connect, feel free to reach out. I'm passionate
        about web development and always excited to discuss new opportunities.
        Let's collaborate and create something amazing together. Don't hesitate
        to contact me using the form below or through my social media channels.
        Looking forward to connecting with you!
      </div>
      <hr
        style="
          background: rgb(0, 0, 0);
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 255, 255, 1) 5%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 95%,
            rgba(0, 0, 0, 1) 100%
          );
          height: 1px;
          margin: 28px 0 10px 0;
          border: 0;
          border-radius: 50px;
        "
      />
      <div class="follow-me icons">
        <div class="f-icon-outline">
          <a
            href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
            target="_blank"
            class="follow-icon fab fa-linkedin"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://github.com/3liYusuf"
            target="_blank"
            class="follow-icon fab fa-github-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://wa.me/+97335053631"
            target="_blank"
            class="follow-icon fab fa-whatsapp-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://www.instagram.com/3li.yusuf"
            target="_blank"
            class="follow-icon fab fa-instagram-square"
          ></a>
        </div>
      </div>
    </div>
    <div class="contact-second-container">
      <div class="title">Get In Touch!</div>
      <form
        class="contact-form"
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="contact-form-input"
          type="text"
          formControlName="email"
          placeholder="Enter your E-mail"
        />
        <input
          class="contact-form-input"
          type="text"
          formControlName="subject"
          placeholder="Enter the subject"
        />

        <textarea
          class="contact-form-input"
          type="text"
          formControlName="letter"
          placeholder="Please write your letter here"
          rows="6"
        ></textarea>
        <button class="form-submit neon-transition" type="submit">Send</button>
      </form>
      <div *ngIf="confirmation" id="confirmation">
        Thank you! Your message has been sent.
      </div>
    </div>
  </div>
</div>
<div
  class="footer"
  appIntersectionObserver="contact"
  [@sectionAnimate]="sectionStates['footer']"
>
  <div class="flexing">
    <div class="f-first">
      <div class="f-header">ALI</div>
      <div class="f-desc">
        <div class="desc-paragraph">
          Thank you for visiting my portfolio. If you're interested in
          collaborating or have any questions, feel free to reach out!
        </div>
        <div class="desc-email">
          <a class="email-container" href="mailto:IT@3liYusuf.com">
            <div class="email-icon-outline">
              <i class="email-icon fas fa-envelope"></i>
            </div>
            <div class="email-txt">IT&#64;3liYusuf.com</div>
          </a>
        </div>
      </div>
    </div>
    <div class="f-second">
      <div class="f-sub-header">Quick Links</div>
      <div class="quick-links">
        <a href="#home" class="q-link">Home</a>
        <a href="#experience" class="q-link">Experience</a>
        <a href="#skills" class="q-link">Skills</a>
        <a href="#services" class="q-link">Services</a>
        <a href="#projects" class="q-link">Projects</a>
        <a href="#contact" class="q-link">Contact</a>
      </div>
    </div>
    <div class="f-third">
      <div class="f-sub-header">Social Media</div>
      <div class="f-follow-me icons">
        <div class="f-icon-outline">
          <a
            href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
            target="_blank"
            class="follow-icon fab fa-linkedin"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://github.com/3liYusuf"
            target="_blank"
            class="follow-icon fab fa-github-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://wa.me/+97335053631"
            target="_blank"
            class="follow-icon fab fa-whatsapp-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://www.instagram.com/3li.yusuf"
            target="_blank"
            class="follow-icon fab fa-instagram-square"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(2, 0, 36, 1) 100%
      );
      height: 2px;
      margin: 28px 0 16px;
    "
  ></div>
  <div class="copyright">© 2024 All rights reserved - Ali</div>
</div>
