<div class="container">
  <div id="home"></div>
  <div class="outline">
    <a href="#home" class="tag">Home</a>
    <a href="#experience" class="tag">Experience</a>
    <a href="#skills" class="tag">Skills</a>
    <a href="#home" class="name-tag">ALI</a>
    <a href="#services" class="tag">Services</a>
    <a href="#projects" class="tag">Projects</a>
    <a href="#contact" class="tag">Contact</a>
  </div>
  <div class="home" appIntersectionObserver="home">
    <app-title-style [title]="'Hello,I\'m Ali'"></app-title-style>
    <div class="about-me">
      I'm a <span class="primary-txt">Full-Stack Developer</span><br />
      specialized in web development.
    </div>

    <div class="icons">
      <a
        href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
        target="_blank"
        class="icon fab fa-linkedin"
      ></a>
      <a
        href="https://github.com/3liYusuf"
        target="_blank"
        class="icon fab fa-github-square"
      ></a>
    </div>
    <br /><br /><br />
    <div id="experience"></div>
  </div>
  <div class="experience" appIntersectionObserver="experience">
    <div class="center">
      <app-title-style [title]="'MY RESUME'"></app-title-style>
    </div>
    <div class="title center">Experience</div>
  </div>
  <div id="skills" style="height: 100px"></div>
  <div class="skills" appIntersectionObserver="skills">
    <div class="center">
      <app-title-style [title]="'MY SKILLS'"></app-title-style>
    </div>
    <div class="title center">My Advantages</div>
    <div class="adv-box-container">
      <app-adv-box
        [percent]="90"
        [title]="'Angular'"
        [icon]="'fab fa-angular'"
      ></app-adv-box>
      <app-adv-box
        [percent]="80"
        [title]="'Node.js'"
        [icon]="'fab fa-node-js'"
      ></app-adv-box
      ><app-adv-box
        [percent]="90"
        [title]="'Database'"
        [icon]="'fas fa-database'"
      ></app-adv-box>
      <app-adv-box
        [percent]="80"
        [title]="'Servers'"
        [icon]="'fas fa-server'"
      ></app-adv-box>
      <app-adv-box
        [percent]="100"
        [title]="'HTML'"
        [icon]="'fab fa-html5'"
      ></app-adv-box>
      <app-adv-box
        [percent]="95"
        [title]="'CSS'"
        [icon]="'fab fa-css3-alt'"
      ></app-adv-box>
    </div>
  </div>
  <div id="services" style="height: 100px"></div>
  <div class="services center" appIntersectionObserver="services">
    <app-title-style [title]="'MY SERVICES'"></app-title-style>
    <div class="title center">What Can I Do?</div>
    <div class="services-boxes-container">
      <app-services-boxes
        [icon]="'fas fa-code'"
        [title]="'Front-End Development'"
        [description]="
          'I design and develop user-friendly interfaces using HTML, CSS, JavaScript, and Angular to create engaging web experiences.'
        "
      ></app-services-boxes>
      <app-services-boxes
        [icon]="'fas fa-database'"
        [title]="'Back-End Development'"
        [description]="
          'I build secure and efficient server-side applications using Node.js, managing databases and APIs to power dynamic websites.'
        "
      ></app-services-boxes>
      <app-services-boxes
        [icon]="'fas fa-server'"
        [title]="'DevOps Engineer'"
        [description]="
          'I optimize development and deployment processes, managing servers, domains, and integrating GitHub for streamlined workflows.'
        "
      ></app-services-boxes>
    </div>
  </div>
  <div id="projects" style="height: 100px"></div>
  <div
    class="projects center"
    style="height: 100vh"
    appIntersectionObserver="projects"
  >
    <app-title-style [title]="'MY PROJECTS'"></app-title-style>
    <div class="title center">What I've done?</div>
  </div>
  <div id="contact" style="height: 100px"></div>
  <div
    class="contact center"
    style="height: 100vh"
    appIntersectionObserver="contact"
  >
    <app-title-style [title]="'CONTACT US'"></app-title-style>
    <div class="title center">Let's Get In Touch</div>
  </div>
</div>
