<div class="container">
  <div id="home"></div>
  <div class="outline">
    <a href="#home" class="tag">Home</a>
    <a href="#experience" class="tag">Experience</a>
    <a href="#skills" class="tag">Skills</a>
    <a href="#home" class="name-tag">ALI</a>
    <a href="#services" class="tag">Services</a>
    <a href="#projects" class="tag">Projects</a>
    <a href="#contact" class="tag">Contact</a>
  </div>
  <div class="home" appIntersectionObserver="home">
    <app-title-style [title]="'Hello,I\'m Ali'"></app-title-style>
    <div class="about-me">
      I'm a <span class="primary-txt">Full-Stack Developer</span><br />
      specialized in web development.
    </div>

    <div class="icons">
      <a
        href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
        target="_blank"
        class="icon fab fa-linkedin"
      ></a>
      <a
        href="https://github.com/3liYusuf"
        target="_blank"
        class="icon fab fa-github-square"
      ></a>
    </div>
    <br /><br /><br />
  </div>
  <div id="experience" style="height: 100px"></div>
  <div class="experience" appIntersectionObserver="experience">
    <div class="center">
      <app-title-style [title]="'MY RESUME'"></app-title-style>
    </div>
    <div class="title center">Experience</div>
    <ul>
      <div
        class="experience-tag-container"
        *ngFor="let experience of experiences"
      >
        <li class="experience-tag-title">
          {{ experience.title }}
        </li>
        <div class="experience-details">
          <p>{{ experience.from }} - {{ experience.to }}</p>
          <p>{{ experience.at }}</p>
          <p>{{ experience.description }}</p>
        </div>
      </div>
    </ul>
  </div>
  <div id="skills" style="height: 100px"></div>
  <div class="skills" appIntersectionObserver="skills">
    <div class="center">
      <app-title-style [title]="'MY SKILLS'"></app-title-style>
    </div>
    <div class="title center">My Advantages</div>
    <div class="adv-box-container">
      <app-adv-box
        [percent]="90"
        [title]="'Angular'"
        [icon]="'fab fa-angular'"
      ></app-adv-box>
      <app-adv-box
        [percent]="80"
        [title]="'Node.js'"
        [icon]="'fab fa-node-js'"
      ></app-adv-box
      ><app-adv-box
        [percent]="90"
        [title]="'Database'"
        [icon]="'fas fa-database'"
      ></app-adv-box>
      <app-adv-box
        [percent]="80"
        [title]="'Servers'"
        [icon]="'fas fa-server'"
      ></app-adv-box>
      <app-adv-box
        [percent]="100"
        [title]="'HTML'"
        [icon]="'fab fa-html5'"
      ></app-adv-box>
      <app-adv-box
        [percent]="95"
        [title]="'CSS'"
        [icon]="'fab fa-css3-alt'"
      ></app-adv-box>
    </div>
  </div>
  <div id="services" style="height: 100px"></div>
  <div class="services center" appIntersectionObserver="services">
    <app-title-style [title]="'MY SERVICES'"></app-title-style>
    <div class="title center">What Can I Do?</div>
    <div class="services-boxes-container">
      <app-services-boxes
        [icon]="'fas fa-code'"
        [title]="'Front-End Development'"
        [description]="
          'I design and develop user-friendly interfaces using HTML, CSS, JavaScript, and Angular to create engaging web experiences.'
        "
      ></app-services-boxes>
      <app-services-boxes
        [icon]="'fas fa-database'"
        [title]="'Back-End Development'"
        [description]="
          'I build secure and efficient server-side applications using Node.js, managing databases and APIs to power dynamic websites.'
        "
      ></app-services-boxes>
      <app-services-boxes
        [icon]="'fas fa-server'"
        [title]="'DevOps Engineer'"
        [description]="
          'I optimize development and deployment processes, managing servers, domains, and integrating GitHub for streamlined workflows.'
        "
      ></app-services-boxes>
    </div>
  </div>
  <div id="projects" style="height: 100px"></div>
  <div class="projects center" appIntersectionObserver="projects">
    <app-title-style [title]="'MY PROJECTS'"></app-title-style>
    <div class="title center">What I've done?</div>
    <div class="projects-container">
      <a class="project" *ngFor="let project of projects">
        <img src="{{ project.image }}" class="project-img" alt="" />
        <!-- BookMYBook -->
        <!-- Ahlan Portal -->
        <!-- Car Showroom App -->
        <!-- POS App -->
        <!-- Cinema -->
        <!-- Pharmacy -->
      </a>
    </div>
  </div>
  <div id="contact" style="height: 100px"></div>
  <div class="contact" appIntersectionObserver="contact">
    <div class="contact-first-container">
      <app-title-style [title]="'CONTACT US'"></app-title-style>
      <div class="title">Let's Get In Touch!</div>
      <div class="contact-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem esse
        impedit eaque molestiae vero, omnis velit nostrum et quasi corporis,
        cupiditate veniam molestias obcaecati exercitationem amet, quaerat
        praesentium quod ex.
      </div>
      <hr
        style="
          background: rgb(0, 0, 0);
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 255, 255, 1) 5%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 95%,
            rgba(0, 0, 0, 1) 100%
          );
          height: 1px;
          margin: 28px 0 10px 0;
          border: 0;
          border-radius: 50px;
        "
      />
      <div class="follow-me icons">
        <div class="f-icon-outline">
          <a
            href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
            target="_blank"
            class="follow-icon fab fa-linkedin"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://github.com/3liYusuf"
            target="_blank"
            class="follow-icon fab fa-github-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://wa.me/+97335053631"
            target="_blank"
            class="follow-icon fab fa-whatsapp-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://www.instagram.com/3li.yusuf"
            target="_blank"
            class="follow-icon fab fa-instagram-square"
          ></a>
        </div>
      </div>
    </div>
    <div class="contact-second-container">
      <div class="title">Get In Touch!</div>
      <form
        class="contact-form"
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="contact-form-input"
          type="text"
          formControlName="email"
          placeholder="Enter your E-mail"
        />
        <input
          class="contact-form-input"
          type="text"
          formControlName="subject"
          placeholder="Enter the subject"
        />

        <textarea
          class="contact-form-input"
          type="text"
          formControlName="letter"
          placeholder="Please write your letter here"
          rows="6"
        ></textarea>
        <button class="form-submit" type="submit">Send</button>
      </form>
      <div *ngIf="confirmation" id="confirmation">
        Thank you! Your message has been sent.
      </div>
    </div>
  </div>
</div>
<div id="footer"></div>
<div class="footer">
  <div class="flexing">
    <div class="f-first">
      <div class="f-header">ALI</div>
      <div class="f-desc">
        <div class="desc-paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          modi amet vel quae molestiae voluptatibus numquam.
        </div>
        <div class="desc-email">
          <a class="email-container" href="mailto:IT@3liYusuf.com">
            <div class="email-icon-outline">
              <i class="email-icon fas fa-envelope"></i>
            </div>
            <div class="email-txt">IT&#64;3liYusuf.com</div>
          </a>
        </div>
      </div>
    </div>
    <div class="f-second">
      <div class="f-sub-header">Quick Links</div>
      <div class="quick-links">
        <a href="#home" class="q-link">Home</a>
        <a href="#experience" class="q-link">Experience</a>
        <a href="#skills" class="q-link">Skills</a>
        <a href="#services" class="q-link">Services</a>
        <a href="#projects" class="q-link">Projects</a>
        <a href="#contact" class="q-link">Contact</a>
      </div>
    </div>
    <div class="f-third">
      <div class="f-sub-header">Social Media</div>
      <div class="f-follow-me icons">
        <div class="f-icon-outline">
          <a
            href="https://www.linkedin.com/in/ali-yusuf-03a37925a/"
            target="_blank"
            class="follow-icon fab fa-linkedin"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://github.com/3liYusuf"
            target="_blank"
            class="follow-icon fab fa-github-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://wa.me/+97335053631"
            target="_blank"
            class="follow-icon fab fa-whatsapp-square"
          ></a>
        </div>
        <div class="f-icon-outline">
          <a
            href="https://www.instagram.com/3li.yusuf"
            target="_blank"
            class="follow-icon fab fa-instagram-square"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(2, 0, 36, 1) 100%
      );
      height: 2px;
      margin: 28px 0 16px;
    "
  ></div>
  <div class="copyright">© 2024 All rights reserved - Ali</div>
</div>
