:root {
  --primary-color: #44ee96;
  --bullet-image: url("/assets/bullets/list_bullet_green.png");
}

.green-theme {
  --primary-color: #44ee96;
  --bullet-image: url("/assets/bullets/list_bullet_green.png");
}

.blue-theme {
  --primary-color: #007bff;
  --bullet-image: url("/assets/bullets/list_bullet_blue.png");
}

.purple-theme {
  --primary-color: #a67cf5;
  --bullet-image: url("/assets/bullets/list_bullet_purple.png");
}

* {
  color: #fff;
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.primary-txt {
  color: var(--primary-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
